{
  "plugins": ["prettier-plugin-svelte"],
  "printWidth": 100,
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
